<ion-side-menus   enable-menu-with-back-views="false">
  <ion-side-menu-content drag-content="false">
    <ion-nav-bar   class=" mynavbar-bijeli">
    
        <ion-nav-buttons side="center"> <img class="logoB" src="img/logo_bijeli.jpg"  /> 
          </ion-nav-buttons> 
      <ion-nav-buttons side="right"> 
       <button class="button " style=  "margin-right: 15px;margin-top:5px;  height: 53px; border:none;   display:block; background-color: white;
   
  width: 53px;  "   menu-toggle="left">
    <img class="title-image" src="img/menu-icon -blue.png" width="30px;"   style="margin-top: 30px;background-color: white" /> 
    </button> 
        </button></div>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view  name="menuContent"></ion-nav-view>
    
  </ion-side-menu-content>

  <ion-side-menu style="background-color: #1C3D7A" side="left">
    <ion-header-bar  style="background-color:  #1C3D7A; border-style:none"> 
    </ion-header-bar>
    <ion-content class="content">
 <ion-item style="background-color:#1C3D7A ;border:#1C3D7A;color:white;font-size: 22px;" ng-click="openState('app.home')"   menu-close  >
          Novosti
        </ion-item>   
        <ion-item style="background-color:#1C3D7A ;border:#1C3D7A;color:white;font-size: 22px;" ng-click="openState('appBijeli.about')"   menu-close  >
          O veleučilištu
        </ion-item> 
         <ion-item style="background-color:#1C3D7A ;border:#1C3D7A;color:white;font-size: 22px;"    menu-close  >
          Studijski programi
        </ion-item> 
         <ion-item style="margin-left: 20px;margin-top:-15px;background-color:transparent ;border:#1C3D7A;color:white;font-size: 19px;" ng-click="openState('app.preddiplomski')"   menu-close  >
          preddiplomski
        </ion-item> 
          <ion-item style="margin-left: 20px;margin-top:-20px;background-color:transparent ;border:#1C3D7A;color:white;font-size: 19px;" ng-click="openState('app.diplomski')"   menu-close  >
          diplomski
        </ion-item> 
        <ion-item style="background-color:#1C3D7A ;border:#1C3D7A;color:white;font-size: 22px;" ng-click="openState('app.studenti')"   menu-close  >
          Studenti
        </ion-item> 
        <ion-item style="background-color:#1C3D7A ;border:#1C3D7A;color:white;font-size: 22px;" ng-click="openState('app.medunarodna')"   menu-close  >
          Međunarodna suradnja
        </ion-item> 
        <ion-item style="background-color:#1C3D7A ;border:#1C3D7A;color:white;font-size: 22px;" ng-click="openState('appBijeli.kontakt')"   menu-close  >
          Kontakt
        </ion-item> 
        <ion-item style="background-color:#1C3D7A ;border:#1C3D7A;color:white;font-size: 22px;" ng-click="openState('app.meet')"   menu-close  >
          Upoznajte nas
        </ion-item> 
        <ion-item style="background-color:#1C3D7A ;border:#1C3D7A;color:white;font-size: 22px;" ng-click="openState('app.map')"   menu-close  >
          Karta
        </ion-item>      
             
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
