<ion-view     ><ion-content  class="content">
    <img src="img/logo.png" class="logo-home"/>
    <h3 class="naslov">Novosti </h3>
    <hr>
     <div>
         <img class="logo-bijeli" src="img/logo_bijeli.jpg"/>  
         <h4 class="vijest-naslov"> Izabran je novi dekan Veleučilišta Baltazar Zaprešić </h4>     
         <p class="vijest-body">
             Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet
              </p>       
              <a>više...</a>
     </div>
     <br/>
  </ion-content>
  </ion-view>
