<ion-view     ><ion-content  class="content">
    <img src="img/logo.png" class="logo-home"/>
    <h3 class="naslov">Novosti </h3>
    <hr>  
  
     <div ui-sref="bappBijeli.detalji({vijestId:{{vijest['id']}}})" ng-repeat="vijest in vijesti">
         <img class="logo-bijeli" src="https://baltazarapp.bak.hr/images/large/{{vijest['images'][0]}}" ng-if="vijest['images'][0]!=null"  />  
         <img class="logo-bijeli"  ng-if="vijest['images'][0]==null  "  src="img/logo_bijeli.jpg"/>  
         <h4 class="vijest-naslov" > {{vijest['title']}}</h4>     
         <div style=" height: 4em;   
    overflow: hidden;" ng-bind-html="vijest['description']"  class="vijest-body"> 
 
              </div>       
              <a >više...</a><br/><br/>
     </div>
     
  </ion-content>
  </ion-view>
