<ion-view style="background-color: #1C3D7A"><ion-content class="content content-login"> 
   
    <h3 class="naslov">Ulaz za studente </h3>
    <hr> 
    <br/>
         <label   class="login-label"> Godina</label>     
 <div   class="list div-godina"  style="margin-left: -30px;">
  <label  class="item item-input item-select select-godina"  >   
    <select ng-model="odabraniSmjerg"  ng-change="showSelectValueG(odabraniSmjerg)"   style="width: auto; left: 65px"  > 
     <option selected value="{{godina['id']}}" ng-repeat="godina in godine">{{godina["title"]}}</option>
    </select>
  </label>
</div>
<label   class="login-label"> Smjer</label>     
 <div   class="list div-godina"  style="margin-left: -30px;">
  <label  class="item item-input item-select select-godina" style="width: 260px; " >   
    <select ng-model="odabraniSmjer"  ng-change="showSelectValue(odabraniSmjer)"  style="position:absolute;width: 300px;left: -34px;  overflow: visible;max-width:none;text-align: left"  >
         <option  value="0">Neregistrirani korisnik</option>
     <option selected value="{{smjer['id']}}" style="text-align: left" ng-repeat="smjer in smjerovi">{{smjer["title"]}}</option>   
    </select>
  </label><br/> 
<br/>
   <a class="login-ulaz" ng-click="prijavi()" >Ulaz</a>
</div>
  </ion-content>
  </ion-view>
