<ion-view style="background-color: #1C3D7A"><ion-content class="content content-login"> 
   
    <h3 class="naslov">Ulaz za studente </h3>
    <hr> 
    <br/>
         <label   class="login-label"> Godina</label>     
 <div   class="list div-godina"  style="margin-left: -30px;">
  <label  class="item item-input item-select select-godina"  >   
    <select  style="width: auto; left: 10px"  >
      <option>1. (druga)</option>
      <option selected>2. (druga)</option>
      <option>3. (treća)</option>
      <option>4. (četvrta)</option>
      <option>5. (peta)</option> 
    </select>
  </label>
</div>
<label   class="login-label"> Smjer</label>     
 <div   class="list div-godina"  style="margin-left: -30px;">
  <label  class="item item-input item-select select-godina" style="width: 260px; " >   
    <select  style="position:absolute;width: 300px;left: -34px;  overflow: visible;max-width:none;"  >
      <option selected>Poslovna ekonomija i financije</option>      
    </select>
  </label><br/>
<label   class="login-label" style="padding-left: 30px"> Username</label>  
  <input id="postanski" style="height: 30px;width: 250px"  type="text" /> 
<br/>
<label  style="padding-left: 30px"  class="login-label"> Password</label>  
  <input id="postanski" style="height: 30px;width: 250px"  type="text" /> 

<br/>
   <a class="login-ulaz" ui-sref="bapp.home"  >Ulaz</a>
</div>
  </ion-content>
  </ion-view>
