<ion-view style="background-color: #1C3D7A;text-align: center"><ion-content class="content content-login"> 
   
    <h3 class="naslov">Ulaz za studente </h3>
    <hr> 
    <br/>
         <label   class="login-label"> Godina</label>      
     <ion-checkbox value="{{godina['id']}}" style="width: 200px;margin: 0 auto;" ng-model="checkItems[godina['id']]"   ng-repeat="godina in godine">{{godina["title"]}}</ion-checkbox>
  
<label   class="login-label"> Smjer</label>      
  <label  class="item item-input item-select select-godina" style="width: 260px; margin: 0 auto;" >   
    <select ng-model="odabraniSmjer"  ng-change="showSelectValue(odabraniSmjer)"  style="width: 300px; overflow: visible;max-width:none;"  >
       
     <option   value="{{smjer['id']}}" style="text-align: left" ng-repeat="smjer in smjerovi">{{smjer["title"]}}</option>   
       <option selected value="0">Neregistrirani korisnik</option>
    </select>
  </label><br/> 
<br/>
   
 <a class="login-ulaz" ng-click="prijavi()" >Ulaz</a>
  </ion-content>
  </ion-view>
