<ion-view>
    <ion-content>
          <ng-map disable-default-u-i="true" style="height: 100%;" zoom="8" center="[46,16]">
 <custom-marker ng-repeat="marker in markers" id="aa" ng-if="hotel['category'] == category"  position="{{marker['lat']}},{{marker['long']}}"   >
     <img    src="img/marker.png" style="width:40px;position:relative;top:10px;"><div class="markerName" style=" position:absolute;
 top:-20px;
 left:-40px;
 width: 120px;
 font-size:14px;
 background-color:white;
   background: rgba(255, 255, 255, .7);
 padding-left:4px;
 padding-right:4px;
 color: darkblue;" > {{marker["naslov"]}} </div> 
      </custom-marker>  

              
          </ng-map>
    </ion-content>
</ion-view>