<ion-view style="background-color: #1C3D7A">
    <ion-content class="content content-login">
        <h3 class="podaci-labela">Filip Vuković </h3>
        <br> 
        <p class="podaci-labela">
            Preddiplomski studij
        </p>
        <p class="podaci-labela">
            Druga godina
        </p>
        <br/>
        <p class="podaci-labela">smjer:</p>
        <p class="podaci-labela">
            Poslovna ekonomija i financije
        </p>
        <br/>
        <p class="podaci-labela">
            filip.vukovic@gmail.com
        </p>
        <p class="podaci-labela">
            0915745868
        </p>
        <p class="podaci-labela">
            ul. S. Radića 15 
        </p>
         <p class="podaci-labela"> 
            10000, Zagreb
        </p><br/>
        <a   style="color: yellow; display: table;
  margin: 0 auto;"  ui-sref="bapp.edit">Izmijeni podatke</a>

    </ion-content>
</ion-view>

