<ion-view style="background-color: #1C3D7A">
    <ion-content class="content content-login">
        <h3 class="podaci-labela">{{ime+" "}}{{prezime}}</h3>
        <br> 
        <p class="podaci-labela">
          Godina
        </p>
        <p class="podaci-labela">
           {{godina}}
        </p>
        <br/>
        <p class="podaci-labela">smjer:</p>
        <p class="podaci-labela">
            {{smjer}}
        </p>
        <br/>
        <p class="podaci-labela">E-mail:</p>
        <p class="podaci-labela">
            {{mail}}
        </p>
        <p class="podaci-labela">Telefon:</p>
        <p class="podaci-labela">
            {{tel}}
        </p>
        <p class="podaci-labela">Adresa:</p>
        <p class="podaci-labela">
            {{adresa}}
        </p>
          <br/>
        <a   style="color: yellow; display: table;
  margin: 0 auto;"  ui-sref="bapp.edit">Izmijeni podatke</a>

    </ion-content>
</ion-view>

